WORKSPACE_PASSWORD=your-password
GITHUB_TOKEN=your-github-token
G_API=your-google-geocoding-api-key
CATNET_BASE_URL=your-catnet-url
SWISSRE_CLIENT_ID=your-catnet-clientid
SWISSRE_TOKEN_URL=your-catnet-tokenURL
SWISSRE_PRIVATE_KEY_PATH=private.key
DNB_KEY=your-dnb-key
DNB_TOKEN_URL=your-dnb-url
