##workflow
#Example: path to downloaded token from e.g. https://try.indico.io/auth/account, update config with option
TRY_TOKEN_PATH=/Users/benfrancis/.secrets/workflow/try_token.txt

##workspaces
#Example: password you use to log into workspaces, 
#Notes: Currently, if you have different passwords across workspaces you will have to change your password for each workspace to work.
WORKSPACE_PASSWORD=your-password

##Github
#Example: get from your own Github
GITHUB_TOKEN=your-github-token

##Google Geocode
#Example: AIzaSyBooQmusxbqAqMk8-Nxk2BPNqDHT60lrL0
G_API=your-google-geocoding-api-key

##SwissRe
#Example: https://catnet.api-np.swissre.com/demo
CATNET_BASE_URL=your-catnet-url
#Example: 0oagnqgsr45l8Nmu70i7
SWISSRE_CLIENT_ID=your-catnet-clientid
#Example: https://identity.swissre.com/oauth2/ausaz28lw2bd82Jo50i7/v1/token
SWISSRE_TOKEN_URL=your-catnet-tokenURL
#Example: /Users/name/.secrets/swissre/private.key
SWISSRE_PRIVATE_KEY_PATH=your-SwissRe-privatekey-path

##DNB
#Example: from D&B email
DNB_CLIENT_ID=your-dnb-api-key
#Example: from D&B email
DNB_CLIENT_SECRET=your-dnb-api-key
#Example: https://plus.dnb.com/v3/token
DNB_TOKEN_URL=your-dnb-tokenURL
#Example: https://plus.dnb.com
DNB_BASE_URL=your-dnb-url
